<launch>
    
    <node name="listener" pkg="pid_plot" type = "listener" output="screen" />
    
    <!-- DUMMY PUBLISHER NODE - Comment when not connected to kit -->
    <node name="talker" pkg="pid_plot" type = "talker" output="screen" />

    <!-- rqt_plot is a resource hog, so if you're seeing high CPU usage, don't launch it  -->
    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
    args="/PID_Data" />

</launch>

